body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  }

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

li {
  font-size: 18px;
  list-style-type: none;
  margin:0;
  padding:0;
  overflow:hidden;
}

.clrwhite {
  color: white;
}

.hort {
  display: inline;
}

#cpywrite {
  background-color: dimgray;
  text-align: left;
}

.back_picture {
  background-image: url("../images/the-flatiron-building.png");
}
